{% extends "layout.html" %}

    {% block content %}

      <div class="col-md-6">
        <p>
          <p>
                  Edeline Aragon is a freshman at New Jersey Institute of Technology and majors in Business
                  and Information Systems. In her free time, she likes to find new music to listen and sing to and watch
                  all show genres on Netflix.
          </p>
          <p>
                  She is in three clubs at NJIT. Those clubs are Nucleus Yearbook, Filipinos in Newark
                  Engaging in Socialcultural Traditions (FINEST) and Women in Computing Society (WiCS). In yearbook, she is
                  part of the business committee and works on such tasks like taking care of the yearbook's social media and
                  hanging flyers throughtout the campus. In FINEST, she meets new Filipinos and non-Filipinos, helping her
                  to come out of her shell and socialize. In WiCS, she meets new connections and learns about opportunities
                  to further herself in her field.
          </p>
          <p>
                  Random fact: Some boba flavors she drinks on the regular are blueberry green apple juice,
                  honeydew papaya green tea, green tea honeydew jasmine, honeydew mango, blueberry green tea. Look below
                  to see her ratings on different boba flavors.
          </p>
        </p>
          <table class="table">
              <tbody>
              <thead>
              <tr>
                  <th scope="col">Boba Number</th>
                  <th scope="col">Flavor</th>
                  <th scope="col">Bubble, Pop, Lychee, etc.</th>
                  <th scope="col">Rating</th>
              </tr>
              </thead>
              <tr>
                  <th scope="row">Boba #1</th>
                  <td>Blueberry Green Apple Juice</td>
                  <td>with Peach Pop</td>
                  <td>Rating: 5</td>
              </tr>
              <tr>
                  <th scope="row">Boba #2</th>
                  <td>Honeydew Papaya Green Tea</td>
                  <td>with Bubbles</td>
                  <td>Rating: 4</td>
              </tr>
              <tr>
                  <th scope="row">Boba #3</th>
                  <td>Green Tea Honeydew Jasmine</td>
                  <td>with Bubbles</td>
                  <td>Rating: 5</td>
              </tr>
              <tr>
                  <th scope="row">Boba #4</th>
                  <td>Honeydew Mango</td>
                  <td>the Bubbles</td>
                  <td>Rating: 5</td>
              </tr>
              <tr>
                  <th scope="row">Boba #5 </th>
                  <td>Blueberry Green Tea</td>
                  <td>with Bubbles</td>
                  <td>Rating: 5</td>
              </tr>
              </tbody>
          </table>
      </div>

{% endblock %}
